[flake8]
ignore = F401,  # unused import
    E126,  # over-indented continuation line
    E128,  # under-indented continuation line
    W503,  # linebreak before binary operator
    W504  # linebreak after binary operator
max-line-length = 100
exclude =
    .git,
    __pycache__,
    docs,
    ephemeris,
    kenv,
    scripts,
    test