[MASTER]

# Disable the message, report, category or checker with the given id(s).
disable=too-few-public-methods
# Disable member checking on runtime determined members that pylint cant detect
generated-members=add

[REPORTS]

# Activate the evaluation score.
score=no


[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i, j, k, ex, Run, _, w, x, y, z

# Maximum number of characters on a single line.
max-line-length=100

# Maximum number of lines in a module
max-module-lines=500
